@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/18634-pfdintextuniversal-bold.otf') format('woff2'),
         url('../fonts/18634-pfdintextuniversal-bold.otf') format('embedded-opentype'),
         url('../fonts/18634-pfdintextuniversal-bold.otf') format('woff'),
         url('../fonts/18634-pfdintextuniversal-bold.otf') format('truetype'),
         url('../fonts/18634-pfdintextuniversal-bold.otf') format('svg');

}
.bg-light   
{
    background-color: #333333;
    /* for this element the bacground-color take !important in bootstrap file 
    we can't override it so we removed !important from bootstrap file because it's not 
    beest practice to use !important in our stylesheet  but 
    this not the perfect solution so we need to solve this by another solution  */
}
.navbar-light .navbar-nav .nav-link
{
    color: #ffffff;
    font-weight: bold;
    font-family: 'MyWebFont', Fallback, sans-serif;
}
.navbar-light .navbar-nav a.nav-link:visited:hover
{
    color: #de495b;
}
.navbar-light .navbar-nav a.nav-link:link:hover 
    {
        color: #de495b;
        
    }
    .navbar-light .navbar-nav a.nav-link:focus
    {
        color: #de495b;
        
    }
   
  
.navbar-light .navbar-nav .active>.nav-link
{
    color : #de495b;
}
.navbar-expand-lg .navbar-nav
{
    float: right;
    width: 100%;
    direction: rtl;
}
.navbar-expand-lg .navbar-nav li
{
    padding: 10px;
}
.navbar-brand img
{
    width: 200px;
   
}
@media only screen and (min-width: 992px) {
    .bg-light   
{
    background-color: #333333;
    /* for this element the bacground-color take !important in bootstrap file 
    we can't override it so we removed !important from bootstrap file because it's not 
    beest practice to use !important in our stylesheet  but 
    this not the perfect solution so we need to solve this by another solution  */

    height: 100px;
}
  } 

  .banner
  {
    height: 100vh;
    min-height: 500px;
    position: relative;
    /* background-image: url('../img/bannerimg.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/bannerimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .banner img
  {
      width: 200px;
      margin: 0;
      position: absolute;
      right: 0;
  }
  .banner .rwakedService p.mainparg
  {
    font-family: 'MyWebFont', Fallback, sans-serif;
    font-size: 50px;
    color: #ffffff;
    text-align: -webkit-auto;
    direction: rtl;
    clear: right;
    position: inherit;
    top: 150px;
    right: 20px;
    border-top: 8px solid #ffffff;
  }
  .banner .rwakedService p.detalis
  {
      font-size: 25px;
      font-family: 'MyWebFont', Fallback, sans-serif;
      color: #ffffff;
     text-align: -webkit-auto;
    direction: rtl; 
    position: inherit;
    top: 160px;
    right: 20px;
  }
  .rwakedServiceImg
  {
    width: 100%;
    position: relative;
   
}
.banner .rwakedService .offersLink
{
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    float: right;
    text-align: -webkit-auto;
    
}
.banner .rwakedService .offersLink:hover
{
    background-color:rgb(0, 0, 0);
    text-decoration: none;

}
.banner .rwakedService .offersLinkdiv
{
    position: inherit;
    top: 190px;
    right: 20px;
}

.form-style-6{
	font: 150% 'MyWebFont', Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
    background: #F7F7F7;
    margin-top: 100px;
}
.form-style-6 h1{
	background: #f5f5f5;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #000;
    margin: -16px -16px 16px -16px;
    font-family: 'MyWebFont',Fallback, sans-serif;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="email"] 
{
	
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
    font-family: 'MyWebFont',Fallback, sans-serif;
    direction: rtl;

}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="email"]:focus
{
	box-shadow: 0 0 5px #de495b;
	padding: 3%;
	border: 1px solid #de495b;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #de495b;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #333333;
    cursor: pointer;
}
.custom-toggler .navbar-toggler-icon
{
    /* background-color:  url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222, 73, 91, 0.5)'"); */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222, 73, 91, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler
{
    color: rgb(11, 143, 209);
    border-color: rgb(11, 143, 209);
}
@media only screen and (max-width: 840px) 
{
    .banner
    {
      height: 100vh;
      min-height: 1400px;
      position: relative;
      /* background-image: url('../img/bannerimg.jpg'); */
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../img/bannerimg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      
    }
    .form-style-6{
        font: 150% 'MyWebFont', Helvetica, sans-serif;
        max-width: 500px;
        margin: 10px auto;
        padding: 16px;
        background: #F7F7F7;
        margin-top: 200px;
    }
    .rwakedService
    {
     margin-bottom: 300px;
    }
}